{% extends 'base.html' %}

{% block title %}Archives{% endblock title %}

{% block contents %}
<div class="recent">
  <h2>Recent Entry</h2>
  <ul>{% for story in latest_story_list %}
    <li><a href="{{ story.url }}">{{ story.title }}</a></li>
  {% endfor %}</ul>
</div>
<div class="archives">
  <ul>{% for year, months in year_month.items() %}
    <li>{{ year }} {% for month in months %}<a href="/blog/{{ year }}/{{ month }}/">{{ month }}月</a> {% endfor %}</li>
  {% endfor %}</ul>
</div>
{% endblock contents %}
